@using Task = Timer.Models.Task
@model TaskVM

<div class="row pt-3">
    <div class="col-6">
        <h2 class="">Tasks</h2>
    </div>
    <div class="col-6 text-end pt-2">
        <a asp-controller="Task" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp;New Task</a>
    </div>
</div>

<form asp-action="Index" method="post" class="py-5">
    <div>
        <label for="StartDate">From Date: </label>
        <input type="date" asp-for="StartDate" value="" />
    </div>
    <br />
    <div>
        <label for="EndDate">To Date: </label>
        <input type="date" asp-for="EndDate" value="" />
    </div>
    <br />

    <div>
        <label asp-for="SelectedCustomer">Customer:</label>
        <select class="form-select" asp-for="SelectedCustomer" asp-items='new SelectList(Model.Customers, "Id", "Name")'>
            <option value="">All</option>
        </select>
    </div>
    <br />
    <div>
        <label for="SelectedCategory">Category:</label>
        <select class="form-select" asp-for="SelectedCategory" asp-items='new SelectList(Model.Categories, "Id", "Name")'>
            <option value="">All</option>
        </select>
    </div>
    <br />
    <div>
        <label for="SelectedUser">Responsible:</label>
        <select class="form-select" asp-for="SelectedUser" asp-items='new SelectList(Model.Users, "Id", "UserName")'>
            <option value="">All</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Apply Filters</button>
   
</form>



<table id="tblTasks" class="table table-striped table-bordered" style="width: 100%;">
    <thead>
    <tr>
        <th>Sequential No.</th>
        <th>Name</th>
        <th>Customer</th>
        <th>Category</th>
        <th>Responsible</th>
        <th>Estimated Hrs.</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Priority</th>
        <th>Actions</th>
    </tr>
    </thead>
   
    @*Kasnije nekad promijeniti da koristi DataTables*@
    @*<tbody>
    @foreach (Task task in Model.Tasks)
    {
        <tr>
            <td>@task.SequentialNumber</td>
            <td>@task.Name</td>
            <td>@task.Customer.Name</td>
            <td>@task.Category.Name</td>
            <td>@task.IdentityUser.UserName</td>
            <td>@task.EstimatedHours</td>
            <td>@task.StartDate.ToShortDateString()</td>
            <td>@task.EndDate.ToShortDateString()</td>
            <td>@task.Priority</td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary mx-2" asp-controller="Task" asp-action="Edit" asp-route-id="@task.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a class="btn btn-danger mx-2" id="deleteBtn" onclick="Delete('task/delete/@task.Id')"> <i class="bi bi-trash-fill"></i> Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>*@
</table>

@section Scripts {
    <script src="~/js/task.js"></script>
}